<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/layout :: head">-->
    <head>
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    </head>
<body>
<h2> Blog</h2>
<p>
    <a th:href="@{/create}">
        Add new Blog
    </a>
</p>
<p>
    <a th:href="@{/customer}">
        customer list
    </a>
</p>

<!--<form action="/search" method="get">-->
<!--    <input type="text" name="title">-->
<!--    <input type="submit" value="search">-->
<!--</form>-->

<table id="blogs">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,loop : ${listCustomer}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirthday}"></td>
        <td th:text="${customer.customerGender}"></td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerType.name}"></td>

<!--        <td><a th:href="@{{id}/edit(id=${blog.id})}">edit</a></td>-->
<!--        <td><a th:href="@{{id}/delete(id=${blog.id})}">delete</a></td>-->
<!--        <td><a th:href="@{{id}/view(id=${blog.id})}">view</a></td>-->
    </tr>
    </tbody>
</table>
<div>
    <span>
        <a th:if = "${listCustomer.hasPrevious()}" th:href="@{/customer(page = ${listCustomer.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,listCustomer.totalPages - 1)}">
        <a th:href="@{/customer(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if = "${listCustomer.hasNext()}" th:href="@{/customer(page = ${listCustomer.number +1})}">Next</a>
    </span>
</div>

<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
</html>