<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

</head>
<body>
<p>
    <a th:href="@{/product}">
        Back to Product list
    </a>
</p>

<form th:object="${product}" action="/create" method="post">

    Tên sản phẩm <input th:field="*{name}"><br>
    <p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

    Giá <input th:field="*{price}"><br>
    <p style="color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

    Tình trạng <input th:field="*{status}"><br>
    <p style="color: red;" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>

    Nhà sản xuất <input th:field="*{producer}"><br>
    <p style="color: red;" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></p>
    <button type="submit"> Thêm</button>
</form>
</body>

</html>